@media only screen and (min-width: 900px) {
  #homepage #mid-section {
    background-color: rgba(250, 238, 215, 0.616);
  }
}

#homepage #header {
  justify-content: space-between;
  padding: 5px;
}

#homepage #mid-section {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}

#homepage h1:first-of-type {
  text-align: right;
}

@media only screen and (max-width: 720px) {
  #homepage #toggleImg {
    display: none;
  }
}
