#sider {
  margin: 2.5em 1.5em;
}

#userPhoto {
  margin: 1.5em 0;
  background-size: 5em;
  border-radius: 50px;
  height: 5em;
  width: 5em;
}

#userName {
  line-height: 3em;
}

#content {
  margin: 2.5em 5em;
}

#mainComponent .layout:first-of-type {
  background: none;
}

#mainComponent {
  height: 100vh;
}

#mainLayout {
  background: rgba(250, 238, 215, 0.616);
  height: 100vh;
}

#siderMenu {
  border-right: none;
}

#name-and-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 20px;
}

.header {
  display: flex;
  align-items: center;
  place-content: space-between;
}

* {
  font-size: 18px;
}

label {
  font-size: 16px !important;
}

@media only screen and (min-width: 1200px) {
  #content {
    min-width: 45vw;
    max-width: 60vw;
  }
}

.forms,
#profile-menu {
  margin-bottom: 10px !important;
  max-width: 50vw;
}

@media only screen and (max-width: 1000px) {
  .forms,
  #profile-menu {
    max-width: 80vw;
  }
}

.profileComponents {
  text-transform: capitalize;
}
