#sider {
  margin: 2.5em;
}

#userPhoto {
  background-size: 5em;
  border-radius: 50px;
  height: 5em;
  width: 5em;
}

#userName {
  line-height: 3em;
}

#content {
  margin: 2.5em 5em;
}

#mainComponent .layout:first-of-type {
  background: none;
}

#mainComponent {
  height: 100vh;
}

#mainLayout {
  background: rgba(250, 238, 215, 0.616);
  border-radius: 50px;
  height: 100%;
  margin: 1.5em;
  width: 70%;
  flex: none;
}

form {
  width: 90%;
}

#siderMenu {
  border-right: none;
}

#name-and-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  bottom: 25px;
  left: 70%;
  position: fixed;
  width: fit-content;
  background-color: white;
}
