body {
  font-size: 16px;
}
.preview {
  width: 90%;
  margin-top: 80px;
  margin-left: 80px;
}
.workTitle {
  font-size: 21px;
  color: #f96156;
  left: 210px;
  top: 105px;
  display: inline;
  margin-left: 170px;
}
.name {
  font-size: 28px;
  font-weight: bold;
  color: #082371;
  left: 210px;
  top: 70px;
  margin-top: -110px;
  margin-left: 170px;
}
.personalContainer {
  background: #f9f9f9 0% 0% no-repeat padding-box;
  border-radius: 10px;
  position: relative;
  padding: 40px;
  margin-top: 30px;
}
.workContainer {
  background: #f9f9f9 0% 0% no-repeat padding-box;
  border-radius: 10px;
  position: relative;
  padding: 40px;
  margin-top: 20px;
}
.nameAndTitle {
  float: left;
  padding-left: 200px;
}
.about {
  top: 220px;
  margin-top: 70px;
}

.personalInfo {
  float: right;
}
.info {
  display: inline;
  padding-left: 50px;
  padding-right: 50px;
  color: #f96156;
}
.icons {
  float: right;
  margin-top: -40px;
  margin-right: 100x;
}
.iconn1 {
  margin-right: 100px;
}
.iconn2 {
  margin-left: 90px;
}
.iconn3 {
  margin-left: 170px;
}
.iconn4 {
  margin-left: 170px;
  margin-right: 128px;
}

.title1 {
  color: #082371;
  font-size: 21px;
  font-weight: bold;
  display: inline;
}
.numberIcon {
  margin-right: 10px;
  vertical-align: text-bottom !important;
}
.workInfo {
  display: flex;
  flex-direction: row;
  flex-flow: space-between;
  flex-wrap: wrap;
}
.job {
  flex: 1 1 50%;
  margin-top: 10px;
}
.titleWrapper {
  margin-top: 30px;
  margin-left: 40px;
}
a {
  color: #082371 !important;
}
