body {
  font-family: 'Poppins', sans-serif !important;
  color: #6b748f;
}

header {
  margin-top: 36px !important;
  position: relative;
  width: 100%;
  margin: 0 auto;
  width: 1366px;
}
.topBar {
  padding-bottom: 148px;
}

p {
  margin-top: 14px !important;
}

.navMenu {
  list-style: none;
  padding: 0;
  display: inline;
  color: #082371;
}

.menuItem {
  display: inline;
  padding-left: 32px;
  color: #082371;
}
a {
  text-decoration: none;
}
.leftTop {
  float: left;
}
.rightTop {
  float: right;
}
.loginInButton {
  border: 2px solid #f96156;
  border-radius: 3px;
  width: 134px;
  height: 39px;
  background-color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #f96156;
  margin-left: 44px;
  cursor: pointer;
}

.loginInButton:hover {
  background: #f96156 0% 0% no-repeat padding-box;
  color: #ffffff;
}
.signUpButton {
  background: #f96156 0% 0% no-repeat padding-box;
  border-radius: 3px;
  width: 134px;
  height: 39px;
  border: none;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  margin-left: 23px;
  cursor: pointer;
}

.signUpButton:hover {
  border: 2px solid #f96156;
  color: #f96156;
  background-color: white;
}

.heroTitle {
  float: left;
  margin-top: 90px;
}
.subTitle {
  font-size: 28px;
  color: #f96156;
}
.title {
  font-size: 51px;
  color: #082371;
  font-weight: bold;
}
.titleEndPoint {
  color: #f96156;
  font-size: 100px;
  line-height: 0px;
}
.getStartedButton {
  background: #082371 0% 0% no-repeat padding-box;
  box-shadow: 0px 12px 30px #c1d1ffb3;
  opacity: 1;
  color: white;
  border: none;
  width: 225px;
  height: 61px;
  text-align: center;
  font-size: 21px;
  border-radius: 5px;
  margin-top: 57px;
  cursor: pointer;
}
.getStartedButton:hover {
  background: #f96156 0% 0% no-repeat padding-box;
  box-shadow: 0px 12px 30px #c1d1ffb3;
  color: white;
}
.heroPicture {
  float: right;
}

.heroSection {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.subTitle2 {
  font-size: 28px;
  color: #f96156;
  text-align: center;
}

.title2 {
  font-size: 51px;
  color: #082371;
  font-weight: bold;
  text-align: center;
}
.features {
  margin: 0 auto;
  width: 1366px;
  text-align: center;
}
.featuresContainer {
  text-align: center;
  margin: 0 100px;
}
.firstRowFeatures {
  margin-top: 53px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.secondRowFeatures {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.feature1 {
  padding-right: 160px;
}

footer {
  background: #f9f9f9 0% 0% no-repeat padding-box;
  text-align: center;
  margin-top: 150px;
  padding-bottom: 20px;
  margin-left: 0px;
}
.footerContainer {
  padding-top: 20px;
}
.logoMin {
  vertical-align: center;
}
.copyrightText {
  display: inline;
  margin-left: 20px;
}

/* signup page */

.headerSignUp {
  padding-top: 28px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  width: 1366px;
  height: 600px;
  display: table;
}
.titleSection {
  top: 253px;
  position: absolute;
}
.leftSide {
  width: 100%;
  height: 800px;
  background: transparent url('https://i.ibb.co/q1BCD8Y/blob-shape-2x.png') 0% 0% no-repeat
    padding-box;
  float: left;
}

.rightSide {
  top: 140px;
  position: absolute;
  right: 230px;
}
.signUpText {
  font-size: 28px;
  font-weight: bold;
  color: #082371;
}

.signUpInput {
  background: #f9f9f9 0% 0% no-repeat padding-box;
  border: 1px solid #6b748f;
  width: 396.58px;
  height: 45px;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  color: #6b748f;
}
.signUpInput:hover {
  border: 1px solid #082371;
}
.signUpInput:focus {
  border: 1px solid #082371;
  outline: none;
}
.signUpLabel {
  margin-top: 29px;
}
.signUpLabel:focus-within {
  color: #082371;
}

.signUpSubmit {
  background: #082371 0% 0% no-repeat padding-box;
  color: white;
  border: none;
  width: 144px;
  height: 46px;
  border-radius: 3px;
  margin-top: 43px;
}

.signUpSubmit:hover {
  background: #f96156;
  color: white;
  cursor: pointer;
}
